<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element required="true" type="text">
            <name>channelId</name>
            <label lang="de">Kanal ID</label>
            <label lang="en">Channel ID</label>
            <description>Die Kanal-ID, welche in den CleverPush Kanal Einstellungen eingesehen werden kann.</description>
        </element>
        <element required="true" type="text">
            <name>publicApiKey</name>
            <label lang="de">Öffentlicher API-Key</label>
            <label lang="en">Public API Key</label>
            <description>Kann in den CleverPush Einstellungen gefunden werden.</description>
        </element>
        <element required="true" type="text">
            <name>privateApiKey</name>
            <label lang="de">Privater API-Key</label>
            <label lang="en">Private API Key</label>
            <description>Kann in den CleverPush Einstellungen gefunden werden.</description>
        </element>
        <element required="true" type="number">
            <name>notificationMinutes</name>
            <label lang="de">Warenkorb Benachrichtigung nach wievielen Minuten senden</label>
            <label lang="en">Send basket notification</label>
            <value>30</value>
            <description>Nach so vielen Minuten wird eine Benachrichtigung gesendet, falls das Produkt noch im Warenkorb ist.</description>
        </element>
        <element required="true" type="text">
            <name>notificationText</name>
            <label lang="de">Warenkorb Benachrichtigungs-Text</label>
            <label lang="en">Basket notification text</label>
            <value>Wir haben noch etwas in deinem Warenkorb gefunden.</value>
            <description>Inhalt der Benachrichtigung.</description>
        </element>
    </elements>
</config>
